@import "tailwindcss";

:root {
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  --black: oklch(0.21 0.006 285.885);
  --white: #fff;
  --muted-white-1: lab(96.52 -0.0000298023 0.0000119209);
  --muted-white-2: #E5E5E5;
  --border-light: lab(90.952 0 -0.0000119209);
  --foreground: oklch(21% 0.006 285.885);
  --green-main: #40A14C;
  --green-dark: #007736;
  --text-primary: var(--black);
  --text-foreground: #656565;
  --red-1: #c21c22;
  --shadow-xl: 0 20px 25px -5px #0000001a,
  0 8px 10px -6px #0000001a;

  --radius-button: 10px;
  --border-1: solid 1px lab(90.952 0 -0.0000119209);
}